Repository iMicknl/azure-podcast-generator, pull requests merged in 2024-10, with the labels that each got.

#6 Improve user-interface and add user configuration for voice selection
  README.md
  app/app.py
  app/const.py
  app/utils/llm.py
  app/utils/speech.py
Labels: enhancement

#10 Add new HD voice (Brian)
  app/app.py
  app/const.py
Labels: feature

#11 Improve AOAI authentication code (remove duplicate code, add comments, move API version to constant)
  app/utils/llm.py
Labels: enhancement

#12 Bump AOAI API version to 2024-10-21 (GA)
  app/utils/llm.py
Labels: enhancement

#13 Improve documentation: how to run a local installation
  README.md
Labels: documentation

#14 Further implementation of language
  README.md
  app/utils/speech.py
Labels: documentation, feature
